{% if pastes %}
  {% for paste in pastes %}
    <tr id="paste-{{paste.id}}">
      <td style="width: 50%">
        <a class="rg-link" href="/{{ paste.id }}">
          {{ paste.title }}
        </a>
      </td>
      <td style="width: 20%">{{ paste.updated_at }}</td>
      <td style="width: 20%">{{ paste.last_accessed }}</td>
      <td style="width: 10%">
        <button
          hx-delete="/{{ paste.id }}"
          hx-target="#paste-{{paste.id}}"
          hx-swap="outerHTML"
          hx-confirm="Are you sure? This action is irreversible">
          Delete
        </button>
      </td>
    </tr> 
  {% endfor %}
{% else %}
  <tr>
    <td colspan=3 style="color: #a0a0a0; text-align:center;">No pastes available, get pasting!</td>
  </tr>
{% endif %}
