<div id="ctxview" class="form-container">
  {% include "_flash.html" %}
  <form
      hx-swap="none"
      {% if paste and paste.id is not none %}
        hx-put="{{ request.scope.root_path }}/{{ paste.id }}"
      {% else %}
        hx-post="{{ request.scope.root_path }}/new"
      {% endif %}>
    <input
        type="text" 
        name="title" 
        placeholder="Title..." 
        required
        value="{{ paste.title | default('') }}"
        class="form-input">
    <br>
    <textarea 
        name="content" 
        cols="30" 
        rows="10" 
        placeholder="Paste something..." 
        required
        class="form-input">
      {{- paste.content | default("") -}}
    </textarea>
    <br>
    <button type="submit">
      {% if paste and paste.id is not none %}
      Update
      {% else %}
      Post
      {% endif %}
    </button>
  </form>
</div>
