<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main Page | RD Pastebin</title>
  <script src="https://unpkg.com/htmx.org@2.0.4"></script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Share+Tech&display=swap');
  </style>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <main>
    <section>
      {% include "_nav.html" %}
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Last Update</th>
            <th>Last Accessed</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody id="available-pastes">
          {% include "_tblrow.html" %}
        </tbody>
      </table>
    </section>
  </main>

</body>
</html>

